.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 48px;
    font-weight: bold;
    border: 1.5px solid #655f5f;
    background-color: #fff;
    cursor:pointer;
}

.square:hover {
    background-color: #eee;
}

.square.x {
    color: #f00;
}

.square.o {
    color: #00f;
}